@model EditProjectViewModel

@{
    ViewData["Title"] = "Edit Project";
}
<div class="row d-flex align-items-center justify-content-center mt-5">
    <div class="col-6 border rounded">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <section class="mb-2 mt-1">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ApplicationUserId" />
                <div class="mb-3 col-6 w-100">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6 w-100">
                    <label class="control-label">Description can be maximal 100 symbols long</label>
                    <textarea asp-for="@Model.Description" class="form-control" style="resize:none" rows="4" aria-required="true"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6 w-100">
                    <label asp-for="Url" class="control-label"></label>
                    <input asp-for="@Model.Url" class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <div class="row mt-5">
                    @*<div class="col-4">
                        <a asp-controller="All" asp-action="Index" class=" btn btn-dark mb-2">Back</a>
                    </div>*@
                    <div class="col-8 d-flex align-items-center justify-content-end">
                        <input type="submit" value="Save" class="btn btn-dark col-6" />
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }