@model List<ProjectViewModel>

<div class="justify-content-center col-11 col-md-9 mx-auto">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner rounded-3 border">
            <div class="carousel-item active">
                <img decoding="async" id="" src="data:@Model.First().Image.ContentType;base64,@Model.First().Image.ImageData" asp-append-version="true" style="object-fit: cover;width: 100%;height: 50vh;" alt="...">
                <div class="carousel-caption">
                    <h5 class="text-black bg-light bg-opacity-75 rounded-2">@Model.First().Description</h5>
                    <div class="bg-light bg-opacity-75 rounded-2 w-25 mx-auto">
                        @if (!String.IsNullOrEmpty(Model.First().Url))
                        {
                            <a class="text-black bg-light" href="@Model.First().Url" target="_blank"> <p>Visit site</p></a>
                        }
                    </div>
                </div>
            </div>
            @foreach (var item in Model)
            {
                @if (item.Id == Model.First().Id)
                {
                    continue;
                }
                <div class="carousel-item">
                    <img decoding="async" src="data:@item.Image.ContentType;base64,@item.Image.ImageData" asp-append-version="true" style="object-fit: cover;width: 100%;height: 50vh;" alt="...">
                    <div class="carousel-caption justify-content-center">
                        <h5 class="text-black bg-light bg-opacity-75 rounded-2">@item.Description</h5>
                        <div class="bg-light bg-opacity-75 rounded-2 w-25 mx-auto">
                            @if (!String.IsNullOrEmpty(item.Url))
                            {
                                <a class="text-black bg-light" href="@item.Url" target="_blank"> <p>Visit site</p></a>
                            }                                
                        </div>
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

