@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class=" justify-content-center d-flex">
        <div class="col-md-6">
            <p>This is a user-friendly ASP.NET web application that allows you to create and showcase your personalized portfolio online. The application's main function is to provide users with a platform to display their skills, experiences, and projects in a professional and visually appealing manner.</p>
        </div>
    </div>
    <h1 class="display-5">Features</h1>
    <div class=" justify-content-center d-flex">
        <div class="col-md-6">
            <p><strong>Project Showcase:</strong> You can add projects you have worked on, along with descriptions, images, or links to external sources to showcase your work and skills effectively.</p>
            <p><strong>Experience and Education:</strong> The application allows you to add your work experience and educational background, giving visitors a comprehensive view of yourr professional journey.</p>
            <p><strong>Easy Editing:</strong> You can edit your portfolio at any time, adding new projects, updating information etc.</p>
            <p>enables visitors to send direct messages to the owner of a portfolio. This functionality facilitates communication between potential clients, employers, or collaborators and the portfolio owner, fostering meaningful interactions and opportunities</p>
        </div>
    </div>
</div>
<div class="mb-5">
</div>
<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-dark" id="statistics_button">Show Statistics</button>
    </div>
</div>
<div class="mt-4 p-5 d-none" id="statistics_box">
    <div class="row">
        <h2 class="col-md-4 text-center" id="total_Users"></h2>
        <h2 class="col-md-4 text-center" id="total_Projects"></h2>
        <h2 class="col-md-4 text-center" id="total_Articles"></h2>
    </div>
</div>

@section Scripts {
    <script>
        statistics();
    </script>
}


